<h4>COMPROBANTES</h4>
<app-table [payload]="comprobantes"></app-table>
<button (click)="showModal()">SHOW MODAL</button>
<app-modal (hideModal)="handleModalClose()" *ngIf="stateModal">
    <div class="header"></div>
    <div class="content"></div>
    <div class="footer"></div>
</app-modal>