.dropdown {
    width: 100%;
}

.dropdown-header {
    background-color: rgb(145, 135, 203);
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
}

.dropdown-content {
    background-color: rgb(183, 225, 98);
}

.dropdown-item {
    background-color: rgb(204, 164, 79);
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.dropdown-item:hover {
    padding: 0.5rem;
    background-color: rgb(151, 112, 29);
    height: 2rem;
    display: flex;
    align-items: center;
}