<div class="dropdown">
    <div class="dropdown-header" (click)="toggle()">
        <label>Cambiar página</label>
    </div>
    <div class="dropdown-content" [hidden]="!showState">
        <a href="/">
            <div class="dropdown-item">
                HOME
            </div>
        </a>

        <a href="/comprobantes">
            <div class="dropdown-item">
                COMPROBANTES
            </div>
        </a>
        <a href="/clientes">
            <div class="dropdown-item">
                CLIENTES
            </div>
        </a>
    </div>
</div>