.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajusta el color de fondo según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: antiquewhite;
    border-radius: 6px;
}

.modal-header {
    background-color: rgb(194, 90, 87);
    padding: 2.5rem;
    border-radius: 6px 6px 0px 0px;
    min-width: 10rem;
    position: relative;
}

.modal-content {
    background-color: rgb(47, 39, 28);
    padding: 2.5rem;
    min-width: 10rem;
}

.modal-footer {
    background-color: rgb(92, 149, 38);
    padding: 2.5rem;
    border-radius: 0px 0px 6px 6px;
    min-width: 10rem;
}

.icon-hide {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}

.icon-hide p {
    width: 100%;
}

.icon-hide:hover {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(239, 213, 179);
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}