<div class="background">
    <div class="modal">
        <div class="modal-header">
            <div class="icon-hide" (click)="exitModal()">
                <p>X</p>
            </div>
            <ng-content select="[header]"></ng-content>
        </div>
        <div class="modal-content">
            <ng-content select="[content]"></ng-content>
        </div>
        <div class="modal-footer">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>