<div class="table">
    <label>TITULO</label>
    <table>
        <thead>
            <tr>
                <th *ngFor="let item of headers">
                    {{ item }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of payload.data">
                <td *ngFor="let field of payload.fields">
                    <ng-container *ngIf="field.type !== 'buttons'">
                        <label>{{ item[field.key] }}</label>
                    </ng-container>
                    <ng-container *ngIf="field.type === 'buttons'">
                        <button *ngFor="let button of item[field.key]">
                            {{ button.label }}
                        </button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>